/* 
1-posicionamiento
2-Modelo de caja (box-model)
3-tipografia
4-visuales
5-otros
*/

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 1.6rem;
    
    background: linear-gradient(180deg, #0A0C14 0%, rgba(24, 33, 45, 0.62) 100%);
}   

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1095px;
    height: 60px;
    margin-top: 20px;
    border-radius: 15px;
    background: rgb(109,0,248);
    background: linear-gradient(126deg, rgba(109,0,248,0.8197478820629814) 0%, rgba(89,27,124,0.5788515235195641) 50%, rgba(78,18,94,1) 100%); 

}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 1093.5px;
    height: 58.5px;
    border-radius: 15px;

    background-color: #1C2125;
    font-family: 'Righteous', 'comic sans';
    color: white;
}

header .logo-title{
    font-size: 24px;
}

header ul{
    display: flex;
    gap: 14px;

    padding: 0;

}

header ul li{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    list-style: none;
    padding: 13px 10px;
    border-radius: 8px;
}

header ul li:nth-child(1){

    background-color: #6D00F8;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 75%;
    margin: auto 0;
    border-radius: 10px;

    background-color: #273139;
}

header div p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 90%;
}

header div img{
    width: 5%;
}


main{

}