/* 
1-posicionamiento
2-Modelo de caja (box-model)
3-tipografia
4-visuales
5-otros
*/


:root{
    --main-font: 'Righteous', 'comic sans';
    --secondary-font: 'Poppins', sans-serif;

    --secondary-color: #6D00F8;
}


html{
    font-size: 62.5%;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 1.6rem;
    
    
    background: linear-gradient(180deg, #0A0C14 0%, rgba(24, 33, 45, 0.62) 100%);
    background-attachment: fixed;
}   

.nav-container{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 550px);

    width: 1095px;
    height: 60px;
    border-radius: 15px;
    background: rgb(109,0,248);
    background: linear-gradient(126deg, rgba(109,0,248,0.8197478820629814) 0%, rgba(89,27,124,0.5788515235195641) 50%, rgba(78,18,94,1) 100%); 

}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 1093.5px;
    height: 58.5px;
    border-radius: 15px;

    background-color: #1C2125;
    font-family: 'Righteous', 'comic sans';
    color: white;
}

header .logo-title{
    font-size: 24px;
}

header ul{
    display: flex;
    gap: 14px;

    padding: 0;

}

header ul a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    list-style: none;
    padding: 13px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white
}

header ul a:nth-child(1){

    background-color: #6D00F8;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 75%;
    margin: auto 0;
    border-radius: 10px;

    background-color: #273139;
}

header div p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 90%;
}

header div img{
    width: 5%;
}

.presentacion{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.presentacion .presentacion-nombre p{
    margin: 0;
}

.presentacion-nombre{
    display: flex;
    flex-direction: column;
    width: 60%;
    
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: var(--secondary-font);
    color: white;
}

.saludo{
    font-family: var(--main-font);
    font-size: 80px;
}

.presentacion-nombre div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 500px;
}

.presentacion-datos{
    width: 40%;
    display: flex;
    
    align-items: center;
}

.cuadro-info-borde{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 370px;
    height: 500px;
    border-radius: 15px;
    background: rgb(109,0,248);
    background: linear-gradient(126deg, rgba(109,0,248,0.8197478820629814) 0%, rgba(89,27,124,0.5788515235195641) 50%, rgba(78,18,94,1) 100%); 
}

.cuadro-info{
    width: 368px;
    height: 498px;
    background-color: #1C2125;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.arbol{
    position: absolute;
    width: 60px;
    height: 461.5px;
    background-image: url('img/arbol.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: -10px;
    left: 50px;
}

.arbol2{
    position: absolute;
    width: 50px;
    height: 249.5px;
    background-image: url('img/arbol2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: -70px;
    right: 600px;
}

.titulo-info{
    height: 20%;
    font-size: 32px;
    color: white;
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: 500;
}

.entradas-nuevas{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caja-entrada{
    box-sizing: border-box;
    height: 27%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #363E45 0%, rgba(54, 62, 69, 0) 100%);
}

.caja-entrada h4{
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    color: white;
}

.caja-entrada p{
    margin: 0%;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}   

.segunda-presentacion{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #1C2125;
    clip-path: polygon(100% 14%, 100% 100%, 0 100%, 0 0);
}

.texto-segunda-presentacion{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-segunda-presentacion div{
    width: 70%;
    height: 70%;
}

.texto-segunda-presentacion div h1{
    font-size: 42px;
    color: white;
    font-family: var(--main-font);
}

.texto-segunda-presentacion div p{
    font-size: 1.6rem;
    text-align: justify;
    color: white;
    line-height: 3.0rem;
    font-family: var(--secondary-font);
}

.imagen-segunda-presentacion{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.imagen-segunda-presentacion div{
    width: 80%;
    height: 70%;
    background-image: url("./img/computadora.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    width: 100%;
    height: 270px;
    background-color: var(--secondary-color);
}

footer div{
    width: 50%;
}

footer div h2{
    font-family: var(--main-font);
    margin-left: 100px;
    margin-top: 30px;
    color: white;
}

footer .informacion-personal{
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    text-align: justify;

    width: 450px;
    height: auto;
    margin-left: 100px;

}

footer .contactos{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--secondary-font);
}

footer .contactos p{
    margin: 0;
}

.contactos div{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;

}

.contactos div img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}